<!doctype html>
<html>
  <head>
    <title>Raspberry Pi Weather Station</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#ledOn').on('click', function() {
          alert('This is not complete. POST to /led-on');
        });

        $('#ledOff').on('click', function() {
          alert('This is not complete. POST to /led-off');
        });
      });
    </script>
  </head>
  <body>
    <h1>Welcome to the Raspberry Pi Weather Station</h1>
    <img src="/images/raspberry-pi-logo.svg" width=75>
    <p>
      <%=JSON.stringify(sensorData)%>
    </p>
    <p>
      <button id="ledOn">LED On</button>
      <button id="ledOff">LED Off</button>
    </p>
  </body>
</html>
