#raw-data {
  display: inline-block;
  text-align: left;
}

#raw-data-json {
  float: left;
  font-size: 10px;
  display: none;
}

#raw-location-json {
  clear: left;
  font-size: 10px;
  display: none;
}

#container {
  width: 90%;
  padding: 0;
}

#data-container {
  width: 100%;
  padding: 0;
  display: table;
}

#table-row  {
  display: table-row;
}

#gauge-col {
  vertical-align:top;
  width: 135px;
  height: 600px;
  padding: 0;
  display: table-cell;
}

#map-canvas {
  width: 100%;
  height: 225px;
}

.charts {
  width: 100%;
  height: 1000px;
}

#gauge {
  width: 350px;
  height: 350px;
}
